attrs==17.3.0
click==6.7
colorama==0.3.9
Flask==0.12.2
## !! Could not determine repository location
flaskr==0.0.0
funcsigs==1.0.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pluggy==0.6.0
py==1.5.2
pytest==3.3.1
six==1.11.0
Werkzeug==0.12.2
